form {
    position: relative; 
    display: flex;   
    width: 300px;
    margin: 100px auto;

    input {
        width: 100%;
        display: block;
        border: 1px solid rgba(34, 42, 88, 0.3);
        padding: 5px;
        border-radius: 5px;
        font-size: 17px;
        line-height: 120%;
        z-index: 1;
    }
}

#email-domains {
    display: block;
    position: absolute;
    z-index: 1;
    top: 32px;
    left: 0;
    right: 0;
    border: 1px solid rgba(34, 42, 88, 0.3);
    border-top: none;
    border-radius: 0 0 10px 10px;
    background: #fff;
  
    div {
      cursor: pointer;
      padding: 5px 7px;
      font-size: 15px;
  
      &.active, &:hover {
        background: rgba(34, 42, 88, 0.1);
      }
  
      span {
        font-weight: 600;
      }
    }
}

.email-placeholder {
  position: absolute;
  left: 11px;
  top: 6px;
  display: flex;
  color: #ccc;
  font-size: 17px;
  z-index: 1;
  
  span {
    color: rgba(255, 255, 255, 0);
  }
}